@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
*{
  margin:auto;
  font-family: 'DM Sans', sans-serif;
  background-color:#091540;
  color:#A0CFD3;
}
.dur{
  width:50%;
  display:flex;
  flex-direction:row;
  /*   flex-wrap:wrap; */
  justify-content:space-evenly;
  align-items:center;
  padding:2%;
}

.breakall, .seshall{
  border:6px double #A0CFD3;
  border-radius:30px;
  display:flex;
  text-align:center;
  margin:.5rem 2rem;
  width:250px;
  height:200px;
}
hr{
  margin:1rem;
  border-color:#A0CFD3;
}

button{
  padding:.5rem;
  margin:auto 1rem;
  border-radius:5px;
}
#break-increment,#break-decrement,#session-increment,#session-decrement{
  border:inherit;
}
button:active{
  box-shadow:0px 0px 15px 5px orange;
}


.timer{
  width:300px;
  border:6px double #091540;
  border-radius:30px;
  margin:auto;
  text-align:center;
  font-size:150%;
  padding:2.5%;
  background-color:#A0CFD3;
  color:#136F63;
}
#timer-label, #time-left{
  margin:auto;
  text-align:center;
  font-size:150%;
  padding:2.5%;
  background-color:#A0CFD3;
  color:#091540;
}
#start_stop:active, #reset:active{
  box-shadow:0px 0px 15px 2px orange;
  /*color:orange;*/
}
.fa-solid:active{
  color:orange
}


